body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 24px;
}

h4 {
    color: #222;
    font-size: 19px;
}


.pull-right {
    padding-top: 10px;
    font-size: 16px;
}
.dc-chart g.row text {
    /*    fill: #4d4d4d;*/
    fill: #4d4d4d;
    font-size: 1.0em;
}

#hdx-3W-what g.row text {
    fill: #4d4d4d;
    font-size: 1.0em;
}

.dc-chart .pie-slice {
    fill: #4d4d4d;
    font-size: 1.0em;

}

.dc-chart .axis.x text {
    fill: #4d4d4d;
}

.dc-chart .axis.x path,
.axis.x line {
    fill: none;
    stroke: #fff;
}

#hdx-3W-where {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#whoRegional {
    height: 360px;
    width: 100%;
}

#wheretitle {
    padding-bottom: 10px;
}

.header{
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

hr{
    border-top-color: #999;
    margin: 10px 0;
}


.hdx-3w-chart {
    width: 100%;
}

.hdx-3w-info {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.monthly-viz-container {
    display: none;
}
#update {
    float: right;
    margin-top: 25px;
}

#reset {
    float: right;
}

.col-md-4 {
    color: #848484;
}


#numbers p {
    /*color: #03a9f4;*/
    font-size: 22px;
    padding-left: 0px;
}

#filters a {
    color: #222;
}

.infos p{
    font-size: 20px;
}

#pastData {
    margin-top: 50px;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.loader {
    animation: spin 2s linear infinite;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert{
    position: relative;
}
