body,
h4,
h6 {
    font-family: sans-serif;
}

h1 {
    font-size: 24px;

}

h4 {
    color: #999999;
    font-size: 19px;

}

.dc-chart g.row text {
    /*    fill: #4d4d4d;*/
    fill: #4d4d4d;
    font-size: 1.0em;
    font-family: sans-serif;
}

#hdx-3W-what g.row text {
    fill: #4d4d4d;
    font-size: 1.0em;
    font-family: sans-serif;
}

.dc-chart .pie-slice {
    fill: #4d4d4d;
    font-family: sans-serif;
    font-size: 1.0em;

    /*    transform: rotate((d.startAngle + d.endAngle) / 2 * 180 / Math.PI)%360));*/
}


.dc-chart .axis.x text {
    fill: #4d4d4d;
    font-family: sans-serif;
}

.dc-chart .axis.x path,
.axis.x line {
    fill: none;
    stroke: #fff;
}

#hdx-3W-where {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#whoRegional {
    height: 360px;
    width: 100%;
}

#wheretitle {
    padding-bottom: 10px;
}

#hdx-3W-who svg g g.axis {
    display: none;
}

#hdx-3W-what svg g g.axis {
    display: none;
}

#regionalCash svg g g.axis {
    display: none;
}


#header2 {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 15px;
    /*    margin-top: 30px;*/
}

#header3 {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
        margin-top: 10px;
}

.colheight {
    height: 450px;
}

.removepadding {
    padding-right: 0px;
    padding-left: 0px;
}

.hdx-3w-chart {
    width: 100%;
}

.hdx-3w-info {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


#reset {
    float: right;
    margin-top: 25px;
}

.col-md-4 {
    color: #848484;
}


#numbers p {
    color: #03a9f4;
    font-size: 20px;
    padding-left: 0px;
}

#dateOfData {
    color: #03a9f4;
    font-size: 20px;
    margin-top: 25px;

}

.entete{
    margin-bottom: 95px;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

